
.grid-container{
  background-image: url("..//img/cocina.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed
}

.principal{
  background-color: rgba(255, 102, 0, 0.5);
  height: 100%;
}

.miniaturas{
  margin: 10px 30px;
}

.left-section{
  margin: 5px;
}

.right-section{
  margin: 5px;
}

.callout{
}

.logo{
  margin-top: 50px;
  border-right: 1px solid #cccccc;
  color: #FFFFFF;
}

.favoritos{
  margin-top: 25px;
}

.usuarios{
  height: 20px;
}

.fechas{
  color: rgba(102, 204, 255, 1);
}
